<app-content-header [icon]="" [title]="" [hideBreadcrumb]="false" [hasBgImage]="false" [class]="'pb-4'">
</app-content-header>


<mat-card>
    <mat-card-content>
<div fxLayout="column" class="p-1">
  
        
     <div  fxLayout.xs="column" fxLayoutGap="20px">
        <mat-card-header fxLayoutAlign="start">                
            <mat-card-subtitle >
              <h3>      إختر ولي الامر
              </h3>
            </mat-card-subtitle>
        </mat-card-header> 
        <mat-form-field fxFlex="20%" class="mat-select" appearance="outline">
            <mat-label>إختر ولي الامر</mat-label>
            <mat-select  placeholder=" ولي الامر" #singleSelect [(value)]="selected" 
            (selectionChange)="onParentChanged($event.value)" >
            <mat-option>
                <ngx-mat-select-search placeholder=" ولي الامر">
                </ngx-mat-select-search>
              </mat-option> 
              <mat-option *ngFor="let op of parentList" [value]="op.id">
                  {{ op.fatherName }}
              </mat-option>
               
            </mat-select>
          </mat-form-field>
    
        </div>
          
      <!--  <mat-form-field appearance="fill">
            <mat-label> 
            ولي الامر
            </mat-label>
            <mat-select #employees="ngModel" [(ngModel)]="searchTerms.employees" multiple
              placeholder="ولي الامر" name="parentId" id="parentId">
              <app-mat-select-search [list]="employeesList" placeholderLabel="ولي الامر"
                noEntriesFoundLabel="لا يوجد بيانات"
                (filterChanged)="parentList = $event">
              </app-mat-select-search>
              <mat-option *ngFor="let op of parentList" [value]="op.id">
                {{ op.fatherName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        -->
</div>
<mat-divider></mat-divider>
<div fxLayout="column" class="p-1">
    <div fxLayout fxLayout.xs="column" fxLayoutGap="20px">      
        <mat-form-field fxFlex appearance="standard">
          <mat-label>   إسم الاب </mat-label>
          <input matInput readonly  [(ngModel)]="fatherName"    type="text" placeholder="إسم الاب">
        </mat-form-field>
        <mat-form-field fxFlex appearance="standard">
          <mat-label>   إسم الجد </mat-label>
          <input matInput readonly [(ngModel)]="fatherSecondName"    type="text" placeholder="إسم الجد">
        </mat-form-field>
        <mat-form-field fxFlex appearance="standard">
          <mat-label>   إسم العائلة </mat-label>
          <input matInput readonly [(ngModel)]="fatherFamilyName"    type="text" placeholder="إسم العائلة">
        </mat-form-field>
       

        <mat-form-field fxFlex appearance="standard">
          <mat-label>    الديانة </mat-label>
          <input matInput readonly [(ngModel)]="fatherReligionName"    type="text" placeholder=" الديانة">
        </mat-form-field>
        <mat-form-field fxFlex appearance="standard">
          <mat-label>    الجنسية </mat-label>
          <input matInput readonly [(ngModel)]="fatherNationalityName"    type="text" placeholder=" الجنسية">
        </mat-form-field>
     
  </div>
</div>
  <div fxLayout="column" class="p-1">
    <div fxLayout fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field fxFlex appearance="standard">
            <mat-label>    المدينة </mat-label>
            <input matInput readonly [(ngModel)]="fatherCityName"    type="text" placeholder=" المدينة">
          </mat-form-field>
          <mat-form-field fxFlex appearance="standard">
            <mat-label>    العنون </mat-label>
            <input matInput readonly [(ngModel)]="fatherAddress"    type="text" placeholder=" العنوان">
          </mat-form-field>
          <mat-form-field fxFlex appearance="standard">
              <mat-label>    الهاتف </mat-label>
              <input matInput readonly [(ngModel)]="fatherTel"    type="text" placeholder=" الهاتف">
            </mat-form-field>
            <mat-form-field fxFlex appearance="standard">
              <mat-label>    رقم خلوي الاب </mat-label>
              <input matInput readonly [(ngModel)]="fatherMobile"    type="text" placeholder=" خلوي الاب">
            </mat-form-field>
            <mat-form-field fxFlex appearance="standard">
                <mat-label>    رقم خلوي الام </mat-label>
                <input matInput readonly [(ngModel)]="motherMobile"    type="text" placeholder=" خلوي الام">
              </mat-form-field>
    </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>  
    
<div fxLayout="column" class="p-2">
    
       
    <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
       
         
      
    </div>
    </div>
 <mat-divider></mat-divider>   
<mat-toolbar color="basic" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
  <div fxLayout="row">
    <!-- <a mat-raised-button color="accent" [routerLink]="['../add']">
      <mat-icon>add_circle_outline</mat-icon> Add
    </a> -->
    <a mat-raised-button color="accent" [disabled]="!showSaveButton"  (click)="addNewStudent()">
      <mat-icon>add_circle_outline</mat-icon> إضافة طالب جديد
    </a>
  </div>
</mat-toolbar>

<div fxLayout="column" class="p-2">
  <div class="p-2"   >

    <div class="spinner-container" *ngIf="loading"> 
      <mat-spinner></mat-spinner>
    </div>

    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">   
      <ng-container *ngFor="let col of cols" [matColumnDef]="col.field">
        <mat-header-cell *matHeaderCellDef>
          {{ col.header }}
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
          
              {{ item[col.field] }}
           
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
         
          <a mat-icon-button matTooltip="تعديل" [routerLink]="['/admissions/edit/' + element.id  ]">
            <mat-icon aria-hidden="true" aria-label="Files">
              edit
            </mat-icon>
          </a> 

          <button  mat-icon-button color="info" matTooltip="تفاصيل" [routerLink]="['/admissions/view/' + element.id  ]">
              <mat-icon aria-hidden="false" aria-label="info">
                info
              </mat-icon>
            </button>
        </mat-cell>
      </ng-container>
 
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    </div>
    <div class="p-2" *ngIf="showForm" >
       <app-adm-form  (event)="onSave($event)" ></app-adm-form>
    </div>
</div>