


<app-content-header [icon]="" [title]="" [hideBreadcrumb]="false" [hasBgImage]="false" [class]="'pb-4'">
  </app-content-header>
  
  <div fxLayout="column" class="p-2">
    <div class="p-2">
   
      <form [formGroup]="schoolForm" (ngSubmit)="submit()" novalidate="novalidate">
        <mat-card>  
            <mat-card-header fxLayoutAlign="center">
                <mat-card-subtitle>
                  <h2>المدارس</h2>
                </mat-card-subtitle>
              </mat-card-header>
          
          <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
              
              <mat-form-field fxFlex appearance="outline">
                <input matInput formControlName="aname"  type="text" placeholder="الاسم بالعربية">
                <mat-error *ngIf="validator.hasErrors(aname)"> 
                  Required
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput formControlName="lname"  type="text" placeholder="الاسم بالانجليزية">
              </mat-form-field>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
                <mat-form-field fxFlex>
                    <mat-select  formControlName="cityId"  placeholder=" المدينة" >
                 
                        <mat-option *ngFor="let op of cityList" [value]="op.id">
                         {{op.id}} | {{ op.aname }} 
                        </mat-option>
                    </mat-select>
                   
                  </mat-form-field>
                  <mat-form-field fxFlex>
                      <input matInput formControlName="address"  type="text" placeholder="العنوان">
                  </mat-form-field>
                </div>
            
            <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
                <mat-form-field fxFlex>
                    <input matInput formControlName="tel"  type="text" placeholder="الهاتف">
                  </mat-form-field>
                  <mat-form-field fxFlex>
                      <input matInput formControlName="mobile"  type="text" placeholder="الموبايل">
                  </mat-form-field>
                  <mat-form-field fxFlex>
                      <input matInput formControlName="fax"  type="text" placeholder="الفاكس">
                  </mat-form-field>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
                <mat-form-field fxFlex>
                    <input matInput formControlName="webPage"  type="text" placeholder="الصفحة الالكترونية">
                  </mat-form-field>
                  <mat-form-field fxFlex>
                      <input matInput formControlName="faceBook"  type="text" placeholder="صفحة الفيس">
                  </mat-form-field>
            
            </div>
  
  
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="returnUrl" mat-button>
              عودة
            </a>
            <button mat-raised-button color="primary" type="submit" >
              تخزين
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>