<h3 id="directives" class="headerLine" [class]="fieldClass">
  <span header-link="directives">
    <header-link class="ng-star-inserted">
      <a aria-label="Link to this heading" class="docs-markdown-a" title="Link to this heading"
        aria-describedby="directives" [href]="field.link">
        <mat-icon class="mat-icon material-icons mat-icon-no-color custom-icon-position-tp-6" role="img" aria-hidden="true">{{  field.icon }}</mat-icon>
      </a></header-link>
  </span>
  {{field.label[0].label}}
</h3>