<div class="p-2">
        <mat-card [class]="field.cssClass" [formGroup]="group">
            <mat-card-header>
                <mat-card-subtitle>
                    <h2>  {{field.label[0].label}}:</h2>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-checkbox [formControlName]="field.name">
                            {{field.label[0].label}}
                 </mat-checkbox>
            </mat-card-content>
        </mat-card>
    </div>
