

<app-content-header 
[icon]="'store_mall_directory'" 
[title]="'إضافة/تعديل قسم'" 
[hideBreadcrumb]="false"
[hasBgImage]="true" 
[class]="'pb-4'">
</app-content-header>



<div fxLayout="column" class="p-2">
    <div class="p-2">
    <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </div>
  <div class="p-2"> 

 
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate="novalidate">

      <mat-card>  
          <mat-card-header fxLayoutAlign="center">
              <mat-card-subtitle>
                <h2></h2>
              </mat-card-subtitle>
            </mat-card-header>
        
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
          <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
           
            <mat-form-field fxFlex appearance="outline" >
                <mat-label>الاسم</mat-label>
              <input matInput formControlName="sectionName"  type="text" placeholder="الاسم ">
              <mat-error *ngIf="validator.hasErrors(name)"> 
                Required
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>مدير المدرسة</mat-label>
              <input matInput formControlName="managerId"  type="text" placeholder="مدير المدرسة ">
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>الايميل</mat-label>
                <input matInput formControlName="email"  type="text" placeholder="الايميل">
            </mat-form-field>
       
          </div>
          
         <!-- <mat-divider></mat-divider>-->

          <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">
              
              <mat-form-field fxFlex appearance="outline">
                  <mat-label>الرقم الوطني</mat-label>
                  <input matInput formControlName="nationalId"  type="text" placeholder="الرقم الوطني">
                </mat-form-field>
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>المدرسة</mat-label>
                    <mat-select matInput formControlName="schoolId" placeholder="المدرسة">
                      <mat-option *ngFor="let op of schoolList" [value]="op.id">
                        {{op.id}} | {{op.aname}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
               
          </div>
          


        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="returnUrl" mat-button>
            عودة
          </a>
          <button mat-raised-button color="primary" type="submit" >
            تخزين
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>