<app-content-header [icon]="" [title]="" [hideBreadcrumb]="false" [hasBgImage]="false" [class]="'pb-4'">
  </app-content-header>
  
  <mat-toolbar color="basic" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 user-toolbar">
    <div fxLayout="row">
      <a mat-raised-button color="accent" [routerLink]="['../add']">
        <mat-icon>add_circle_outline</mat-icon> Add
      </a>
  
    </div>
  </mat-toolbar>
  
  <div fxLayout="column" class="p-2">
    <div class="p-2">
  
      <div class="spinner-container" *ngIf="loading"> 
        <mat-spinner></mat-spinner>
      </div>
  
      <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">   
        <ng-container *ngFor="let col of cols" [matColumnDef]="col.field">
          <mat-header-cell *matHeaderCellDef>
            {{ col.header }}
          </mat-header-cell>
          <mat-cell *matCellDef="let item">
            
                {{ item[col.field] }}
             
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
           
            <a mat-icon-button matTooltip="Edit" [routerLink]="['/schools/edit/' + element.id  ]">
              <mat-icon aria-hidden="true" aria-label="Files">
                edit
              </mat-icon>
            </a> 
  
            <button mat-icon-button color="warn" matTooltip="Delete" (click)="openDeleteDialog(element)">
              <mat-icon aria-hidden="true" aria-label="Delete">
                delete
              </mat-icon>
            </button>
            <button  mat-icon-button color="info" matTooltip="تفاصيل" [routerLink]="['/schools/view/' + element.id  ]">
                <mat-icon aria-hidden="false" aria-label="info">
                  info
                </mat-icon>
              </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      </div>
  </div>