<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'exit_to_app'" 
                [title]="'شاشة الدخول الى النظام'" 
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-3">
                <a mat-button routerLink="" color="accent" class="w-100">شاشة الدخول الى النظام</a>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="إسم المستخدم" formControlName="email">
                    <mat-error *ngIf="form.controls.email.errors?.required">يجب إدخال إسم المستخدم</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="كلمة المرور" formControlName="password">
                    <mat-error *ngIf="form.controls.password.errors?.required">يجب إدخال كلمة المرور</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">طول كلمة المرور غير كافي (4) أحرف على الاقل</mat-error>
                </mat-form-field>               
                <mat-error >{{msgLogin}}</mat-error>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">
                    <h2>تسجيل الدخول </h2>
                </button>
            </div>
        </form>
  </div>
</mat-sidenav-container>